body {
  color: #ffffff;
  background: #222222;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}


.App {
  // position: fixed;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  top: 0;
  left: 0;
  text-align: center;
}

.SwipeableViews {
  position: fixed;
  top: 0;
  left: 0;
  // padding-right: 6px;
  min-width: 100vw;
  min-height: 100vh;
}

// reset
div {
  margin: 0;
  padding: 0;
}

.clickable-text {
  padding: 0.5rem;
  border-radius: 4px;
}

.prompt-header {
  font-size: 1.5rem;
}

.selected {
  border: 2px solid #ffffff;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



// input[type=text] {
//   font-family: 'Josefin Slab', serif;
//   display: inline-block;
//   font-size: 1rem;
//   color: #ddddcc;
//   border: 5px solid #ddddcc;
//   padding: 2px;
//   padding-left: 7px;
//   margin-left: 30px;
//   background: #666655;
//   margin: 0 0 10px 0;
// }

// footer {
//   display: block;
//   width: 95%;
//   position: relative;
//   margin: 0 auto;
//   padding-top: 5vh;
//   bottom: 5%;
// }
