$headerSource: '../images/fc_logo_1.png';

.Header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: url($headerSource);
    min-height: 15vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}